
#avatarchoicesmaindiv{
	padding-left: 25px;
}

#avatarchoicetitle{
font-family: harrypotter;
font-family: harrypotter;
  color: #d3a625;
  font-size: 2em;
  text-shadow:
    -3px -3px 3px #000000;
  padding-top: 25px;
}

.avatarchoicediv{
 display: flex;
 flex-direction: row;
 align-items: center;
 padding-top: 22px;
}

.avatarchoicebuttonsdiv{
 display: flex;
 flex-direction: column;
 padding-left: 15px;
}

.avatarchoicebutton{
	/*created space between buttons*/
}