@font-face {
  font-family: harrypotter;
  src: url(fonts/HARRYP__.TTF);
}

@font-face{
  font-family: Staatliches;
  src: url(fonts/Staatliches/Oswald-Medium.ttf);
}

button{
  color: #740001;
  background-color:  #d3a625;
  font-family: Staatliches;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
 
  border-radius: 4px;
  text-shadow: 0 1px 1px #740001;
}

button:disabled,
button[disabled]{
  color: #816767;
  background-color: #8C8265;
  font-family: Staatliches;
  border: none;
 text-shadow: none;
  border-radius: 4px;
  
}


#maintitle{
  font-family: harrypotter;
  color: #d3a625;
  /*need Red border here*/
   text-shadow:
    -3px -3px 0 #740001,
    3px -3px 0 #740001,
    -3px 3px 0 #740001,
    3px 3px 0 #740001;
  font-size: 5em;
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.playerhud{
  padding-right: 15px;
}

.playernametext{
  font-family: harrypotter;
  color: #d3a625;
  font-size: 2em;
  text-shadow:
    -3px -3px 3px #000000;
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.playeravatarimg{
  padding-left: 15px;
}

.playernametext2{
  font-family: harrypotter;
  color: #d3a625;
  font-size: 2em;
  text-shadow:
    -3px -3px 3px #000000;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.playerdiceinfo{
  font-family: Staatliches;
  color: #740001;
   text-shadow:
    -2px -2px 2px #000000;
 /*   1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;*/
  /*need black border here*/
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}*/

@keyframes App-logo-spin {
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#gamespace{
  display: flex;
  flex-direction: row;
}

#endcredits{
  font-size: 8px;
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
}